﻿@model DAIS_ORM.Database.Station
@{
   
    System.Collections.ObjectModel.Collection<SelectListItem> addr = new System.Collections.ObjectModel.Collection<SelectListItem>();
    foreach (DAIS_ORM.Database.Address item in ViewBag.Addresses)
	{
		 addr.Add(new SelectListItem { Text = item.City + " - " + item.Street, Value = item.Id.ToString() });
	}
}

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Station</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("Address", addr)
                @*Html.EditorFor(model => model.Name)*@
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
