﻿@using DAIS_ORM.Database;

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                @Html.Partial("SubMenuViolation")
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">New violation</h1>
            <div class="container-fluid">
                @using (Html.BeginForm("Create", "Violation", null, FormMethod.Post, new { @class = "form-horizontal"}))
                {
                    <div class="col-xs-12 form-group">
                        <legend>Officer</legend>
                        <div class="form-group">
                            @Html.Label("Officer Number", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-3">
                                @Html.TextBox("officer_number", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 form-group">
                        <legend>Violator</legend>
                        <div class="form-group">
                            @Html.Label("Birth Number", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-5">
                                @Html.TextBox("violator_birth_number", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("First Name", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-5">
                                @Html.TextBox("violator_first_name", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Last Name", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-5">
                                @Html.TextBox("violator_last_name", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Phone", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-5">
                                @Html.TextBox("violator_phone", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 form-group">
                        <legend>Address</legend>
                        <div class="form-group">
                            @Html.Label("State", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-5">
                                @Html.TextBox("violator_state", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Street", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-5">
                                @Html.TextBox("violator_street", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("City", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-5">
                                @Html.TextBox("violator_city", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Zip", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-3">
                                @Html.TextBox("violator_zip", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <legend>Vehicle</legend>
                        <div class="form-group">
                            @Html.Label("Licence Number", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-2">
                                @Html.TextBox("vehicle_licence", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Manufacturer", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-3">
                                @Html.TextBox("vehicle_manufacturer", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Model", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-3">
                                @Html.TextBox("vehicle_model", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Year of manufacture", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-2">
                                @Html.TextBox("vehicle_year", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <legend>Violation</legend>
                        <div class="form-group">
                            @Html.Label("Type", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-3">
                                @Html.TextArea("violation_type", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Amount", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-2">
                                @Html.TextBox("violation_amount", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Date", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-2">
                                @Html.TextBox("violation_date", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                }
            </div>

        </div>
    </div>
</div>