﻿
@{
    ViewBag.Title = "CreateSuccess";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                @Html.Partial("SubMenuViolation")
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="container-fluid">
                <h2>New Violation</h2>
                <div class="alert alert-success">
                    <p><strong>Create Success</strong></p>
                    <p>New violation created successfully</p>
                </div>
                @Html.ActionLink("Go back", "Create", "Violation")
            </div>

        </div>
    </div>
</div>