﻿@{
    DAIS_ORM.Database.Violation violation = ViewBag.Violation;
    
}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                @Html.Partial("SubMenuViolation")
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Violation detail</h1>
            <div class="container-fluid">
                <ul class="list-group col-xs-4">
                    <li class="list-group-item">Type: @violation.Type</li>
                    <li class="list-group-item">Date: @violation.Date.ToShortDateString()</li>
                </ul>
                <ul class="list-group col-xs-4">
                    <li class="list-group-item">Officer: @Html.ActionLink(violation.Officer.Number.ToString(), "Detail/" + violation.Officer.Number.ToString(), "Officer")</li>
                </ul>
            </div>
            <div class="container-fluid">
                <ul class="list-group col-xs-4">
                    <li class="list-group-item">Birth number: @violation.Violator_Vehicle.Violator.BirthNumber</li>
                    <li class="list-group-item">First name: @violation.Violator_Vehicle.Violator.FirstName</li>
                    <li class="list-group-item">Last name: @violation.Violator_Vehicle.Violator.LastName</li>
                    <li class="list-group-item">Phone: @violation.Violator_Vehicle.Violator.Phone</li>
                </ul>
                <ul class="list-group col-xs-4">
                    <li class="list-group-item">Licence number: @violation.Violator_Vehicle.Vehicle.LicenceNumber</li>
                    <li class="list-group-item">Manufacturer: @violation.Violator_Vehicle.Vehicle.Manufacturer</li>
                    <li class="list-group-item">Model: @violation.Violator_Vehicle.Vehicle.Model</li>
                    <li class="list-group-item">Year of manufacture: @violation.Violator_Vehicle.Vehicle.YearOfManufacture</li>
                </ul>
            </div>

            <h2 class="sub-header">Tickets</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DAIS_ORM.Database.Ticket ticket in ViewBag.Tickets)
                        {
                            <tr>
                                <td>@ticket.Id</td>
                                <td>@ticket.Date.ToShortDateString()</td>
                                <td>@ticket.Amount</td>
                                @if(Int32.Parse(ticket.Status) == 1)
                                {
                                    
                                    @: <td>Paid</td>
                                    @: <td></td>
                                }
                                else
                                {
                                    @: <td>Open</td>
                                    <td>@Html.ActionLink("Pay", "Pay", new { Id = ticket.Id})</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>