﻿<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                @Html.Partial("SubMenuViolation")
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Violations</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Violator</th>
                            <th>Licence Number</th>
                            <th>Officer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( DAIS_ORM.Database.Violation violation in ViewBag.Violations)
                        {
                        <tr>
                            <td>@violation.Id</td>
                            <td>@Html.ActionLink(violation.Type, "Detail/" + violation.Id.ToString(), "Violation")</td>
                            <td>@violation.Date.ToShortDateString()</td>
                            <td>@violation.Violator_Vehicle.Violator.FirstName @violation.Violator_Vehicle.Violator.LastName</td>
                            <td>@violation.Violator_Vehicle.Vehicle.LicenceNumber</td>
                            <td>@Html.ActionLink(violation.Officer.Number.ToString(), "Detail/" + violation.Officer.Number.ToString(), "Officer")</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>