﻿<li>@Html.ActionLink("All violations", "Index", "Violation")</li>
<li>@Html.ActionLink("New Violation", "Create", "Violation")</li>
<li>@Html.ActionLink("Violator", "Violator", "Violation")</li>
<li>@Html.ActionLink("Home", "Index", "Home")</li>