﻿
@{
    ViewBag.Title = "Violator";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                @Html.Partial("SubMenuViolation")
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Violator</h1>

            @if (Request.HttpMethod == "GET")
            {
                using (Html.BeginForm("Violator", "Violation", null, FormMethod.Post, new { @class = "form-inline" }))
                {
                <div class="form-group">
                    @Html.Label("Birth Number", new { @class = "" })
                    @Html.TextBox("violator_birth_number", "", new { @class = "form-control" })
                </div>
                <input type="submit" value="Search" class="btn btn-primary" />
                }
            }
            else if (Request.HttpMethod == "POST")
            {
                <div class="container-fluid">
                    <ul class="list-group col-xs-4">
                        <li class="list-group-item">Birth number: @ViewBag.Violator.BirthNumber</li>
                        <li class="list-group-item">First name: @ViewBag.Violator.FirstName</li>
                        <li class="list-group-item">Last name: @ViewBag.Violator.LastName</li>
                        <li class="list-group-item">Phone: @ViewBag.Violator.Phone</li>
                    </ul>
                    <ul class="list-group col-xs-4">
                        <li class="list-group-item">Birth number: @ViewBag.Violator.Address.State</li>
                        <li class="list-group-item">First name: @ViewBag.Violator.Address.Street</li>
                        <li class="list-group-item">Last name: @ViewBag.Violator.Address.City</li>
                        <li class="list-group-item">Phone: @ViewBag.Violator.Address.Zip</li>
                    </ul>
                </div>

                <h2 class="sub-header">Violations</h2>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Violator</th>
                                <th>Licence Number</th>
                                <th>Officer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach( DAIS_ORM.Database.Violation violation in ViewBag.Violations)
                            {
                            <tr>
                                <td>@violation.Id</td>
                                <td>@Html.ActionLink(violation.Type, "Detail/" + violation.Id.ToString(), "Violation")</td>
                                <td>@violation.Date.ToShortDateString()</td>
                                <td>@violation.Violator_Vehicle.Violator.FirstName @violation.Violator_Vehicle.Violator.LastName</td>
                                <td>@violation.Violator_Vehicle.Vehicle.LicenceNumber</td>
                                <td>@Html.ActionLink(violation.Officer.Number.ToString(), "Detail/" + violation.Officer.Number.ToString(), "Officer")</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</div>