﻿@foreach (Tuple<DAIS_ORM.Database.Violator, System.Collections.ObjectModel.Collection<DAIS_ORM.Database.Violation>> sracka in ViewBag.List)
{
    <p>@sracka.Item1.FirstName @sracka.Item1.LastName</p>
    foreach (DAIS_ORM.Database.Violation viol in sracka.Item2)
    {
        <p>    >    @viol.Id   @viol.Type</p>
    }
}