﻿@{
    ViewBag.Title = "Not Found";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <div class="container-fluid">
                <h2>Not Found</h2>
                <div class="alert alert-info">
                    <p><strong>Whoops...</strong></p>
                    <p>The resource you were looking for doesn't exist</p>
                </div>
                @Html.ActionLink("Return to homepage", "Index", "Home")
            </div>

        </div>
    </div>
</div>