﻿<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Officer detail</h1>
            <div class="container-fluid">

                <ul class="list-group col-xs-4">
                    <li class="list-group-item">Number: @ViewBag.officer.Number</li>
                    <li class="list-group-item">First name: @ViewBag.officer.FirstName</li>
                    <li class="list-group-item">Last name: @ViewBag.officer.LastName</li>
                    <li class="list-group-item">Date of birth: @ViewBag.officer.DateOfBirth.ToShortDateString()</li>
                    <li class="list-group-item">Station: @ViewBag.officer.Station.Name</li>
                </ul>

                <ul class="list-group col-xs-4">
                    <li class="list-group-item">Street: @ViewBag.officer.Address.Street</li>
                    <li class="list-group-item">City: @ViewBag.officer.Address.City</li>
                    <li class="list-group-item">ZIP: @ViewBag.officer.Address.Zip</li>
                    <li class="list-group-item">State: @ViewBag.officer.Address.State</li>
                </ul>

            </div>

            <h2 class="sub-header">Violations</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Licence Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DAIS_ORM.Database.Violation violation in ViewBag.Violations)
                        {
                            <tr>
                                <td>@violation.Id</td>
                                <td>@Html.ActionLink(violation.Type, "Detail/" + violation.Id.ToString(), "Violation")</td>
                                <td>@violation.Date.ToShortDateString()</td>
                                <td>@violation.Violator_Vehicle.Vehicle.LicenceNumber</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


