﻿<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Officers</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Datum narozeni</th>
                            <th>Stanice</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DAIS_ORM.Database.Officer officer in ViewBag.Officers)
                        {
                            <tr>
                                <td>@Html.ActionLink(officer.Number.ToString(), "Detail/" + officer.Number.ToString(), "Officer")</td>
                                <td>@officer.FirstName</td>
                                <td>@officer.LastName</td>
                                <td>@officer.DateOfBirth.ToShortDateString()</td>
                                <td>@officer.Station.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>